/* Global */
:root {
  /* Color */
  --color-btn-background: #ec6936;
  --color-btn: #fbf1b4;
  --color-timer: #88974c;
  --color-score: #f5c61c;
  --color-border: #1a1919;
  --color-white: #eeeeee;
  --color-black: #212121;
  /* Margin */
  --margin-small: 6px;
  --margin-regular: 8px;
  --margin-medium: 16px;
  --margin-large: 24px;
  --margin-block: 72px;

  /* Padding */
  --padding-small: 2px;
  --padding-regular: 4px;
  --padding-medium: 8px;
  --padding-large: 16px;

  /* Size */
  --size-border-radius: 8px;

  /* Font size */
  --font-large: 48px;
  --font-semi-large: 32px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bolder: 900;
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;
  --weight-small: 300;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  padding: var(--padding-regular);
  margin: var(--margin-small) var(--margin-regular);
}

/* Element Common Set-up */

/* html */
html {
  padding: 0;
  margin: 0;
}

/* body */
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* section */
section {
  margin: 0;
  padding: 0;
}

/* img */
img {
  object-fit: fill;
  margin: 0;
  padding: 0;
}

/* button */
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* hide */
.hide {
  display: none;
}

/* Header */
.game {
  /* background: url(/imgs/Background.jpg) center/cover; */
  /* z-index: 1; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Game Header */
.game__header {
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--margin-block);
}

.game__playBtn {
  width: 70px;
  height: 55px;
  background-color: var(--color-btn-background);
  color: var(--color-btn);
  border-radius: var(--size-border-radius);
  border: 3.5px solid var(--color-border);
  transition: transform var(--animation-duration) ease;
}

.game__playBtn.hide {
  display: block;
  visibility: hidden;
}

.game__playBtn:hover {
  transform: scale(1.1);
}

.game__playBtn i {
  font-size: 20px;
  margin-left: var(--margin-regular);
  margin-right: var(--margin-small);
}

.game__timer {
  width: 130px;
  height: 55px;
  text-align: center;
  background-color: var(--color-timer);
  border-radius: var(--size-border-radius);
  font-size: var(--font-semi-large);
  border: 3.5px solid var(--color-border);
}

.game__score {
  width: 45px;
  height: 45px;
  font-size: var(--font-medium);
  text-align: center;
  border-radius: 50%;
  background-color: var(--color-score);
  color: var(--color-white);
  border: 3px solid var(--color-border);
  margin-top: 0;
}

/* Game Field */
.game__field {
  position: relative;
  width: 65%;
  height: 47.5%;
}

.game__background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.carrot,
.rabbit {
  transition: transform 100ms ease-in;
}

.carrot:hover,
.rabbit:hover {
  transform: scale(1.1);
}

/* Pop-UP */

section.pop-up {
  position: absolute;
  left: 34%;
  width: 500px;
  height: 180px;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 32px;
}

.pop-up.hide {
  display: none;
}

.pop-up__replayBtn {
  width: 70px;
  height: 60px;
  color: var(--color-btn);
  border: 3.5px solid var(--color-black);
  border-radius: var(--size-border-radius);
  background-color: var(--color-btn-background);
  margin-top: var(--margin-medium);
  transition: transform var(--animation-duration) ease;
}

.pop-up__replayBtn:hover {
  transform: scale(1.1);
}

.pop-up__replayBtn i {
  font-size: var(--font-medium);
}

.pop-up__message {
  font-size: var(--font-large);
  color: var(--color-white);
}
